@import "preset/0-preset";

body.uiPreview {
  background-color: #fafafa;
}

#iPhoneX {
	display: block;
	width: 375px; height: 812px;
	background-color: white;
  border-radius: 32px;
	position: fixed;
	transform: translate(-50%, -50%);
	left: 50%; top: 50%;
	box-shadow: 0 2px 8px rgba(black, 0.08);
  overflow: hidden;

  .topBar {
    width: 100%;
    position: fixed;
    z-index: 100000;
  }

  .screen {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .topBar + .screen{
    margin-top: 88px;
    height: calc(100% - 88px);
  }
}
