$brandColor: #33C3C2;

.x175-yanchubiao {
  .ww-entrance {
    background-color: #fafafa;
    position: fixed;
    z-index: 0;
    width: 100%; height: 100%;

    .ww-section {
      margin-top: 8px;
      background-color: white;

      .ww-selectPortrait {


        img {
          width: 44px;
          height: 44px;
          border-radius: 100px;
          object-fit: cover;
        }

        p {
          line-height: 44px !important;
        }
      }

      .ww-li {
        padding: 16px;
        padding-left: 0;
        margin-left: 16px;
        background-color: white;
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
          box-shadow: inset 0 -1px 0 rgba(black, 0.04);
        }

        p {
          font-size: 16px;
          line-height: 24px;
        }

        .ww-rangle {
          display: block;
          width: 24px; height: 24px;

          content: "";
          background-image: url(media/icons/rangle.png);
          background-size: 16px;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }

  .date {
    background-color: #f5f5f5;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;

    &.today {
      &::after {
        content: "今天";
        font-size: 10px;
        color: white;
        background-color: $brandColor;
        padding: 2px 8px;
        border-radius: 100px;
        margin-left: 8px;
      }
    }

    &.tommorow {
      &::after {
        content: "明天";
        font-size: 10px;
        color: white;
        background-color: $brandColor;
        padding: 2px 8px;
        border-radius: 100px;
        margin-left: 8px;
      }
    }
  }

  .yanchuLi {
    position: relative;
    padding: 16px;
    .info {
      .time {
        font-size: 12px;
        line-height: 22px;
        color: $brandColor;
      }

      .shop {
        font-size: 16px;
        line-height: 24px;
        margin: 4px 0;
        font-weight: 500;
      }

      .address {
        font-size: 12px;
        line-height: 22px;
        color: rgba(black, 0.48);

        &::before {
          content: "";
          display: inline-block;
          width: 16px; height: 16px;
          background-image: url(media/icons/location_b16@3x.png);
          background-size: cover;
          vertical-align: text-top;
        }
      }
    }

    .countSongs {
      background-color: $brandColor;
      display: inline-block;
      color: white;
      font-size: 12px;
      font-weight: 500;
      padding: 8px 12px;
      border-radius: 100px 0 0 100px;
      position: absolute;
      top: 12px;
      right: 0;
    }
  }


  .ww-filterBar {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    background-color: white;
    border-bottom: 1px solid rgba(black, 0.04);
    padding-bottom: 16px;

    .ww-input {
      flex: 1 1 20px;
      background-color: #f5f5f5;
      margin: 0 16px;
      padding: 8px 16px;
      border-radius: 100px;

      display: flex;
      justify-content: space-between;

      input {
        border: none;
        background: none;
        line-height: 1;
        font-size: 14px;
        padding: 1px 0;

        &::placeholder {
          color: rgba(black, 0.32);
        }
      }

      img {
        height: 16px;
        width: 16px;
        padding: 4px;
        margin-right: -8px;
        box-sizing: content-box;
      }
    }

    .ww-switch {
      position: relative;
      flex: 0 0 72px;
      margin-right: 16px;
      height: 32px;
      padding: 8px 0;
      background-color: $brandColor;
      border-radius: 100px;
      color: white;
      font-weight: 500;

      p {
        width: 56px;
        text-align: center;
        display: block;
        position: absolute;
        font-size: 12px;
        line-height: 16px;
        transform: translate(-50%, -50%);
        left: 50%; top: 50%;

        i {
          content: "";
          display: inline-block;
          width: 16px; height: 16px;
          background-image: url(media/icons/filter_white.png);
          background-size: cover;
          vertical-align: middle;
          margin-top: -2px;
          margin-right: 2px;
        }
      }
    }
  }


  .songLists {
    margin-bottom: 120px;

    li {
      padding: 16px 0;
      margin-left: 16px;
      border-bottom: 1px solid rgba(black, 0.04);

      p {
        line-height: 24px;
      }

      display: flex;
      justify-content: space-between;

      .ww-btn {
        display: block;
        width: 24px; height: 24px;
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 16px;
        border-radius: 100px;

        &.ww-check {
          background-image: url(media/icons/check_white.png);

          background-color: #f5f5f5;

          &.checked {
            background-color: $brandColor;
          }
        }

        &.ww-delete {
          background-image: url(media/icons/delete.png);
          // background-color: rgba(black, 0.16);
          opacity: 0.24;
          background-size: 24px;
          border-radius: 0;
        }
      }
    }

    .ww-dataSearchHint {
      text-align: center;
      margin-top: 64px;
      color: rgba(black, 0.32);

      &::before, &::after {
        content: "—";
        opacity: 0.5;
        margin: 0 4px;
      }
    }
  }


  nav.ww-bottom {
    position: fixed;
    bottom: 0; left: 0;
    z-index: 1000;
    height: 83px;
    background-color: white;
    width: 100%;
    box-shadow: 0 -1px 0 rgba(black, 0.04);
    padding: 12px 16px;

    display: flex;
    justify-content: space-between;

    p {
      line-height: 36px;
      height: 36px;
    }

    .ww-selected {
      span {
        color: $brandColor;
        font-weight: bold;
      }
    }

    .ww-btns {
      display: flex;

      .ww-btn {
        padding: 0 20px;
        border-radius: 100px;


        &:last-child {
          margin-left: 16px;
        }

        &.ww-main {
          background-color: $brandColor;
          color: white;
        }

        &.ww-secondary {
          color: rgba(black, 0.64);
          background-color: rgba(black, 0.08);
        }
      }
    }
  }


  .ww-toast {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
    z-index: 10001;
    // background-color: rgba(black, 0.0);
    transition: opacity 0.3s;

    p {
      position: fixed;
      transform: translate(-50%, -50%);
      left: 50%; top: 50%;
      background-color: rgba(black, 0.64);
      padding: 24px;
      border-radius: 16px;
      color: white;

      opacity: 0;
    }

    &.ww-loading {
      p {
        background-color: white;
        box-shadow: 1px 1px 2px rgba(black, 0.04),
                    -1px 1px 2px rgba(black, 0.04),
                    0 2px 8px rgba(black, 0.08);
        padding: 16px;

        img {
          width: 24px;
          height: 24px;

          animation: spin 1s linear infinite;
        }
      }
    }
  }





  .ww-tanchuangContainer {
    display: block;
    position: fixed;
    width: 100%;
    left: 0; top: 0;
    height: 100%;
    background-color: rgba(black, 0);
    z-index: 10000;

    .ww-tanchuang {
      position: absolute;
      width: calc(100% - 64px);
      // height: 330px;
      background-color: white;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      border-radius: 16px;
      overflow: hidden;

      opacity: 0;

      $innerTopNavHeight: 64px;
      $innerDownNavHeight: 64px;

      .ww-innerNavTop {
        // position: absolute;
        top: 0;
        // height: $innerTopNavHeight;
        background-color: white;
        width: 100%;
        box-shadow: 0 1px 0 rgba(black, 0.08);


        p {
          text-align: center;
          line-height: $innerTopNavHeight;
          font-weight: 500;
        }

        // img {
        //   width: 24px;
        //   height: 24px;
        //   position: absolute;
        //   top: 8px;
        //   right: 8px;
        // }
      }

      .ww-scrollY {
        // height: 100%;
        // overflow-y: scroll;
        // margin-top: $innerTopNavHeight + 32px;
        // margin-bottom: $innerDownNavHeight + 32px;

        .ww-input {
          // flex: 1 1 20px;
          background-color: #f5f5f5;
          margin: 24px;
          padding: 12px 16px;
          border-radius: 100px;

          // display: flex;
          justify-content: space-between;

          input {
            border: none;
            background: none;
            line-height: 24px;
            font-size: 16px;
            padding: 1px 0;

            width: 100%;

            text-align: center;

            &::placeholder {
              color: rgba(black, 0.32);
            }
          }
        }

        .ww-hint {
          text-align: center;
          line-height: 1.5;
          margin: 32px 24px;
        }
      }

      .ww-innerNavDown {
        // position: absolute;
        // bottom: 0;
        background-color: white;
        width: 100%;
        box-shadow: 0 -1px 0 rgba(black, 0.08);
        display: flex;
        justify-content: space-between;

        .btn {
          flex: 1 1 50%;
          text-align: center;
          line-height: $innerDownNavHeight;
          color: rgba(black, 0.48);
          font-weight: 500;

          &:last-child {
            box-shadow: -1px 0 0 rgba(black, 0.08);
            color: $brandColor;
          }

          &.danger {
            color: red;
          }
        }
      }
    }

    .ww-btnListBottom {
      padding: 24px;
      position: absolute;
      width: 100%;

      opacity: 0;
      bottom: -320px;
      animation: ww-btnListBottomShow 0.5s forwards;

      .ww-btn {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        background-color: white;
        margin: 12px 0;
        padding: 20px;
        border-radius: 16px;

        &.negative {
          color: rgba(black, 0.4);
        }
      }
    }
  }


  .ww-dataSearch {
    margin-top: 16px;
    background-color: white;
    border-bottom: 1px solid rgba(black, 0.04);
    padding-bottom: 16px;

    //

    .ww-input {
      background-color: #f5f5f5;
      margin: 0 16px;
      padding: 8px 16px;
      border-radius: 100px;

      input {
        width: 100%;
        border: none;
        background: none;
        line-height: 1;
        font-size: 14px;
        padding: 1px 0;

        &::placeholder {
          color: rgba(black, 0.32);
        }
      }
    }
  }



}

@keyframes ww-btnListBottomShow {
  100% {
    opacity: 1;
    bottom: 20px;
  }
}

@keyframes ww-bgChangeForToastShow {
  100% {
    background-color: rgba(black, 0.56);
  }
}

@keyframes opacityShow {
  100% {opacity: 1;}
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.bgDarken {
  animation: ww-bgChangeForToastShow 0.5s forwards;
}

.opacityShow {
  animation: opacityShow 0.5s forwards;
}

















//
