@charset "UTF-8";
.x175-yanchubiao .ww-entrance {
  background-color: #fafafa;
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%; }
  .x175-yanchubiao .ww-entrance .ww-section {
    margin-top: 8px; }
    .x175-yanchubiao .ww-entrance .ww-section .ww-selectPortrait img {
      position: absolute;
      right: 16px;
      top: 16px;
      width: 44px;
      height: 44px;
      border-radius: 100px;
      object-fit: cover; }
    .x175-yanchubiao .ww-entrance .ww-section .ww-selectPortrait p {
      line-height: 76px !important; }
    .x175-yanchubiao .ww-entrance .ww-section .ww-li {
      position: relative;
      padding: 0 16px;
      padding-right: 0;
      background-color: white; }
      .x175-yanchubiao .ww-entrance .ww-section .ww-li:not(:last-child) p {
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.04); }
      .x175-yanchubiao .ww-entrance .ww-section .ww-li p {
        font-size: 16px;
        line-height: 56px; }
      .x175-yanchubiao .ww-entrance .ww-section .ww-li .ww-rangle {
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        right: 16px;
        top: 16px;
        background-image: url(media/icons/rangle.png);
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: center; }
.x175-yanchubiao .date {
  background-color: #f5f5f5;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500; }
  .x175-yanchubiao .date.today::after {
    content: "今天";
    font-size: 10px;
    color: white;
    background-color: #33C3C2;
    padding: 2px 8px;
    border-radius: 100px;
    margin-left: 8px; }
  .x175-yanchubiao .date.tommorow::after {
    content: "明天";
    font-size: 10px;
    color: white;
    background-color: #33C3C2;
    padding: 2px 8px;
    border-radius: 100px;
    margin-left: 8px; }
.x175-yanchubiao .yanchuLi {
  position: relative;
  padding: 16px; }
  .x175-yanchubiao .yanchuLi .info .time {
    font-size: 12px;
    line-height: 22px;
    color: #33C3C2; }
  .x175-yanchubiao .yanchuLi .info .shop {
    font-size: 16px;
    line-height: 24px;
    margin: 4px 0;
    font-weight: 500; }
  .x175-yanchubiao .yanchuLi .info .address {
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.48); }
    .x175-yanchubiao .yanchuLi .info .address::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url(media/icons/location_b16@3x.png);
      background-size: cover;
      vertical-align: text-top; }
  .x175-yanchubiao .yanchuLi .countSongs {
    background-color: #33C3C2;
    display: inline-block;
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 100px 0 0 100px;
    position: absolute;
    top: 12px;
    right: 0; }
.x175-yanchubiao .ww-filterBar {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  padding-bottom: 16px; }
  .x175-yanchubiao .ww-filterBar .ww-input {
    flex: 1 1 20px;
    background-color: #f5f5f5;
    margin: 0 16px;
    padding: 8px 16px;
    border-radius: 100px;
    display: flex;
    justify-content: space-between; }
    .x175-yanchubiao .ww-filterBar .ww-input input {
      border: none;
      background: none;
      line-height: 1;
      font-size: 14px;
      padding: 1px 0; }
      .x175-yanchubiao .ww-filterBar .ww-input input::placeholder {
        color: rgba(0, 0, 0, 0.32); }
    .x175-yanchubiao .ww-filterBar .ww-input img {
      height: 16px;
      width: 16px; }
  .x175-yanchubiao .ww-filterBar .ww-switch {
    position: relative;
    flex: 0 0 72px;
    margin-right: 16px;
    height: 32px;
    padding: 8px 0;
    background-color: #33C3C2;
    border-radius: 100px;
    color: white;
    font-weight: 500; }
    .x175-yanchubiao .ww-filterBar .ww-switch p {
      width: 56px;
      text-align: center;
      display: block;
      position: absolute;
      font-size: 12px;
      line-height: 16px;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%; }
      .x175-yanchubiao .ww-filterBar .ww-switch p i {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url(media/icons/filter_white.png);
        background-size: cover;
        vertical-align: middle;
        margin-top: -2px;
        margin-right: 2px; }
.x175-yanchubiao .songLists {
  margin-bottom: 120px; }
  .x175-yanchubiao .songLists li {
    padding: 16px 0;
    margin-left: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: space-between; }
    .x175-yanchubiao .songLists li p {
      line-height: 24px; }
    .x175-yanchubiao .songLists li .ww-check {
      display: block;
      width: 24px;
      height: 24px;
      background-image: url(media/icons/check_white.png);
      background-size: 16px;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 16px;
      border-radius: 100px;
      background-color: #f5f5f5; }
      .x175-yanchubiao .songLists li .ww-check.checked {
        background-color: #33C3C2; }
.x175-yanchubiao nav.ww-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 83px;
  background-color: white;
  width: 100%;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04);
  padding: 12px 16px;
  display: flex;
  justify-content: space-between; }
  .x175-yanchubiao nav.ww-bottom p {
    line-height: 36px;
    height: 36px; }
  .x175-yanchubiao nav.ww-bottom .ww-selected span {
    color: #33C3C2;
    font-weight: bold; }
  .x175-yanchubiao nav.ww-bottom .ww-btns {
    display: flex; }
    .x175-yanchubiao nav.ww-bottom .ww-btns .ww-btn {
      padding: 0 20px;
      border-radius: 100px; }
      .x175-yanchubiao nav.ww-bottom .ww-btns .ww-btn:last-child {
        margin-left: 16px; }
      .x175-yanchubiao nav.ww-bottom .ww-btns .ww-btn.ww-main {
        background-color: #33C3C2;
        color: white; }
      .x175-yanchubiao nav.ww-bottom .ww-btns .ww-btn.ww-secondary {
        color: rgba(0, 0, 0, 0.64);
        background-color: rgba(0, 0, 0, 0.08); }
.x175-yanchubiao .ww-toast {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.56);
  transition: opacity 0.3s; }
  .x175-yanchubiao .ww-toast p {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: white;
    padding: 24px;
    border-radius: 16px; }
.x175-yanchubiao .ww-tanchuangContainer {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56); }
  .x175-yanchubiao .ww-tanchuangContainer .ww-tanchuang {
    position: absolute;
    width: calc(100% - 64px);
    background-color: white;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 16px;
    overflow: hidden; }
    .x175-yanchubiao .ww-tanchuangContainer .ww-tanchuang .ww-innerNavTop {
      position: absolute;
      top: 0;
      background-color: white;
      width: 100%;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08); }
      .x175-yanchubiao .ww-tanchuangContainer .ww-tanchuang .ww-innerNavTop p {
        text-align: center;
        line-height: 64px;
        font-weight: 500; }
    .x175-yanchubiao .ww-tanchuangContainer .ww-tanchuang .ww-scrollY {
      margin-top: 96px;
      margin-bottom: 96px; }
      .x175-yanchubiao .ww-tanchuangContainer .ww-tanchuang .ww-scrollY .ww-input {
        background-color: #f5f5f5;
        margin: 0 24px;
        padding: 12px 16px;
        border-radius: 100px;
        justify-content: space-between;
        margin-top: 24px; }
        .x175-yanchubiao .ww-tanchuangContainer .ww-tanchuang .ww-scrollY .ww-input input {
          border: none;
          background: none;
          line-height: 24px;
          font-size: 16px;
          padding: 1px 0;
          width: 100%;
          text-align: center; }
          .x175-yanchubiao .ww-tanchuangContainer .ww-tanchuang .ww-scrollY .ww-input input::placeholder {
            color: rgba(0, 0, 0, 0.32); }
    .x175-yanchubiao .ww-tanchuangContainer .ww-tanchuang .ww-innerNavDown {
      position: absolute;
      bottom: 0;
      background-color: white;
      width: 100%;
      box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08);
      display: flex;
      justify-content: space-between; }
      .x175-yanchubiao .ww-tanchuangContainer .ww-tanchuang .ww-innerNavDown .btn {
        flex: 1 1 50%;
        text-align: center;
        line-height: 64px;
        color: rgba(0, 0, 0, 0.48);
        font-weight: 500; }
        .x175-yanchubiao .ww-tanchuangContainer .ww-tanchuang .ww-innerNavDown .btn:last-child {
          box-shadow: -1px 0 0 rgba(0, 0, 0, 0.08);
          color: #33C3C2; }
