@import "preset/0-preset";

.messageBox { @import "elements/messageBox" }

.menu { @import "elements/menu" }

.tableOfSongs { @import "elements/tableOfSongs" }

.enlistSongs { @import "elements/enlistSongs" }

.uiCaption {
  padding: 16px;
  background-color: #f44336;
  color: white;
  font-size: 14px;
  line-height: 22px;
}

























//
