$ink-dark: rgba(black, 0.8);
$ink-dark-hex: #333333;

$ink-greyD: rgba(black, 0.56);
$ink-greyD-hex: #707070;

$ink-grey: rgba(black, 0.32);
$ink-grey-hex: #ADADAD;

$ink-greyL: rgba(black, 0.16);
$ink-greyL-hex: #D6D6D6;

$ink-paleD: rgba(black, 0.08);
$ink-paleD-hex: #EBEBEB;

$ink-pale: rgba(black, 0.04);
$ink-pale-hex: #F5F5F5;

$ink-paleL: rgba(black, 0.02);
$ink-paleL-hex: #FAFAFA;

$color-brand: #33C3C2;
